<thead>
<tr>
	<th colspan='8'>
		共售彩票&nbsp;<span style='color:red;'>{{salecount.count}}</span>&nbsp;张,
		销售总额为&nbsp;<span style='color:red;'>{{salecount.money}}&nbsp;</span>元
	</th>
</tr>
<tr>
    <th>序号</th>
    <th>订单创建日期</th>
    <th>设备ID</th>
    <th>订单号</th>
    <th>订单总价格</th>
    <th>状态</th>
    <th>结果</th>
    <th>操作</th>
</tr>
</thead>
<tbody>
{{each sales}}
<tr>
    <td>{{$index+1}}</td>
    <td>{{sales[$index].ct}}</td>
    <td>{{sales[$index].eid}}</td>
    <td>{{sales[$index].oid}}</td>
    <td>{{sales[$index].price}}元</td>
	{{if sales[$index].stat == 0}}
	<td style='color:#EB7153;'>新订单</td>
	{{else if sales[$index].stat == 1}}
	<td style='color:#EB7153;'>支付完成</td>
	{{else if sales[$index].stat == 2}}
	<td style='color:#EB7153;'>客户端确认支付</td>
	{{else if sales[$index].stat == 3}}
	<td>打印完成</td>
	{{else if sales[$index].stat == 100}}
	<td style='color:#EB7153;'>出票未完成</td>
	{{else}}
	<td style='color:#EB7153;'>*</td>
	{{/if}}
	{{if sales[$index].res == 0}}
	<td>完成</td>
	{{else if sales[$index].res == 1}}
	<td>未完成</td>
	{{/if}}
    <td data-id='{{$index}}'>
        <button type="button" class="btn btn-primary btn-xs btn-pt-info">订单详情</button>
    </td>
</tr>
{{/each}}
</tbody>