@charset "UTF-8";
.aside {
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: #5bc0de;
  left: 0;
  top: 0;

  .profile-container {
    margin: 15px auto;
    width: 90px;
    height: 90px;
    img {
      width: 90px;
      height: 90px;
    }

    .img-container {
      width: 80px;
      height: 80px;
      margin: 0 auto;
    }
  }
}
.content-container {
  position: absolute;
  left: 200px;
  right: 0;
  top: 0;
  height: 100%;
  .top {
    .nav-top {
      display: flex;
      justify-content: space-between;
      height: 34px;
      line-height: 34px;
      .nav-t-l {
        width: 750px;
        display: flex;
        justify-content: flex-start;
        img {
          display: block;
          width: 360px;
          margin: 0;
          height: 30px;
        }
        #errinfo{
          display: none;
          width: 350px;
          margin-left: 25px;
          font-size: 16px;
          color: red;
          animation:big 2s infinite;
        }
        @keyframes big {
          from{font-size: 0px;}
          to{font-size: 18px}
        }
      }
      .nav-t-r {
        width: 400px;
        display: flex;
        justify-content: flex-start;
        .wecome{
          width: 340px;
          margin-right:20px;
          font-size:18px;
          #usercome{
            color: red;
          }
        }
        .link-logout{
          margin-right: 20px;
        }
      }
    }
  }
}
.equipment-list{
  .top-box{
    display: flex;
    justify-content: flex-start;
    .search-data{
      width: 280px;
      margin-bottom:15px;
    }
    .select{
      height: 34px;
      display: flex;
      justify-content: flex-start;
      #eid{
        width: 150px;
        height: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
        margin:0px 10px;
      }
      .region{
        border: 1px solid #ccc;
        border-radius: 4px;
        margin: 0px 5px;
        padding: 0px 5px;
      }
      .text{
        height: 34px;
        line-height: 34px;
      }
    }
  }
}
.tebie{
  font-size: 16px;
  color: #000;
  font-weight:550;
  td:nth-of-type(n-1){
    background-color: #ebebeb;
  }
  td:nth-of-type(2n){
    font-style: 14px;
    font-weight: 400;
    color: #666;
    background-color: #fff;
  }
}

//设备管理模块
.lottery_M_Management{
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 400px;
  background-color: #ccc;
  margin-left: 20px;
  padding: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  input{
    margin-bottom: 15px;
  }
  button{
    margin-top: 20px;
  }
}

span.sptd{
  color: rgb(30,30,30);
}
span.sptdt{
  color: red;
}
span.dj{
  display: block;
  width: 120px;
}
#detInfo{
  tr{
    td{
      display: flex;
      justify-content: flex-start;
    }
  }
}
.changeType{
  margin-left: 15px;
}
.input-group{
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
  select{
    height:34px;
    border: 1px solid #ccc;
    border-radius:4px;
    margin-left: 3px;
  }
}
#intDate,#intDate2{
  width: 100px;
  border-radius:4px;
}
#queryData{
  margin-left: 8px;
  border-radius:4px;
}
.userManagement{
  position: relative;
  .addman_box,.addman_box1,.yes_box{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 100%;
    background-color: rgba(255,255,255,0.3);
    .bgc,.bgc1,.add01,.add02{
      width: 300px;
      height: 200px;
      position: absolute;
      top: 100px;
      left: 250px;
      border: 1px solid #666666;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      background-color: #fff;
      z-index: 99;
    }
  }
  .addman_box,.addman_box1{
    .bgc,.bgc1{
      height: 410px;
      .cel,.cel1{
          width: 30px;
          height: 30px;
          text-align: center;
          line-height: 30px;
          background-color: #ccc;
          margin-bottom: 10px;
          cursor: pointer;
          :hover{
            cursor:pointer;
          }
        }
      .tac_box,.tac_box1{
          width: 174px;
          margin: 0 auto;
          .addmantype{
            margin-top: 10px;
          }
          .subbtn_box{
            width: 100%;
            margin-top: 40px;
            button{
              float: right;
            }
          }
        }
    }
    .add01,.add02{
      display: none;
      font-size: 32px;
      line-height: 200px;
      text-align: center;
    }
  }
  .yes_box{
   .bgc{
    .tip01{
      width: 100%;
      height: 100%;
      p{
        width: 300px;
        text-align: center;
        margin-top: 30px;
        font-size: 24px;
      }
      .bt{
        width: 300px;
        display: flex;
        justify-content: space-between;
        padding: 0 50px;
        margin-top: 50px;
      }
    }
     .tip02{
       display: none;
       text-align: center;
       font-size: 32px;
       line-height: 200px;
     }
   }
  }
}
